body  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; }

a:link { text-decoration:none; color:#828282; }
a:visited { text-decoration:none; color:#000000; }

.subtext { font-size:85%; padding-left: 15px; left:1.4em; margin-bottom: 0.5em; color:#828282 }

.hovertag {
    cursor: pointer;
}

.hovertag:hover {
    font-weight:bold;
}

form {
	padding-top:1em;
	padding-bottom:1em;
	padding-left:2em;
}

.layout {
	width:85%;
	min-width:85%;
	margin:0px auto;
	display:block;
}

.page-header,.page-footer {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
//    height: 18px;
    margin: 0 auto;
    padding-left: 2px;
}

.page-header a:visited { color:#000000; }

#logo {
	margin-right:4px;
}

#page-title {
	position:relative;
	bottom:4px;
	font-weight:bold;
}

li.no-number { list-style-type: none; }

#navmain {
	width:auto;
	padding-left:1em;
	position:relative;
	height:10px;
	border:0;
	margin-top:0;
	margin-bottom:0;
	bottom:4px;
}

#navright {
	float:right;
	margin-right:0.5em;
	padding-left:1em;
}

.page-content {
    padding-top: 4px;
    padding-bottom: 2px;
}

.comments-list, .threads-list {
  margin-left:2em;
  padding-left:0px;
  margin-bottom:1em;
}

.comments-list li, .threads-list li {
	list-style-type:none;
}

.items-list {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: 0px;
    padding-left: 2.5em;
}

.items-list-item::marker {
   color: #828282;
}

.itemhead {
	margin-bottom:0.2em;
} 

.comment {
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	margin-left: 1.4em;
}

.comfoot {
	margin-left: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.comfoot a:link {
	text-decoration:underline;
}

.itemtext {
	padding:1em;
	line-height:150%;
}

.votelinks {
	display:inline;
	float:left;
//	margin-right:0.2em;
	color:#828282;
}

.page-footer {
	text-align:center;
}

.comhead a:hover { 
	text-decoration:underline; 
}

.opcomment { 
	font-weight:bold;
}

.votearrow {
  width:      10px;
  height:     10px;
  border:     0px;
  margin:     2px 2px 6px;
  no-repeat;
  background: url("triangle.svg"), linear-gradient(transparent, transparent) no-repeat;
  background-size: 10px;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -o-transform:      rotate(180deg);
  -ms-transform:     rotate(180deg);
  transform:         rotate(180deg);

  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
}

.sitebit {
    font-size: 85%;
    color: #828282;
}

.sitebit a:link { color:#828282; }
.sitebit a:visited { color: #828282; }

.topsel a:link { color: #ffffff; }
.topsel a:visited { color: #ffffff; }

.comment-0 { opacity:1; }
.comment-1 { opacity:0.5; filter:alpha(opacity=50);}
.comment-2 { opacity:0.4; filter:alpha(opacity=40);}
.comment-3 { opacity:0.3; filter:alpha(opacity=30);}
.comment-4 { opacity:0.2; filter:alpha(opacity=20);}

body {
    background-color: #ffffff;  
    color:#000000;
}

a:link    {color:#000000;}
a:visited {color:#828282;}
.page-header,.page-footer {background-color:#ddd;}
.page-content {background-color: #f6f6ef;}
.subtext a:link, .subtext a:visited {color: #828282;}
.comhead a:link, .subtext a:visited {color:#828282;}
.uplink a:link{color: #82dd82;}
.downlink a:link {color: #dd8282;}
.dead {color:#dddddd;}
.sand {background-color: rgb(246, 246, 239);}
.noob {color:#3c963c;}
.banned {color:#400000;}
.editor {color:#000040;}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  .layout { width: 100%; min-width: 0; }
  body { padding: 0; margin: 0; width: 100%; font-size: 11pt; }
  li { height: inherit !important; }
  .title, .comment { font-size: inherit;  }
  div.page-header { display: block; margin: 3px 5px; font-size: 15px; line-height: normal; }
  div.page-header b { display: block; font-size: 15px; }
  img[src='s.gif'][width='40'] { width: 12px; }
  img[src='s.gif'][width='80'] { width: 24px; }
  img[src='s.gif'][width='120'] { width: 36px; }
  img[src='s.gif'][width='160'] { width: 48px; }
  img[src='s.gif'][width='200'] { width: 60px; }
  img[src='s.gif'][width='240'] { width: 72px; }
  img[src='s.gif'][width='280'] { width: 84px; }
  img[src='s.gif'][width='320'] { width: 96px; }
  img[src='s.gif'][width='360'] { width: 108px; }
  img[src='s.gif'][width='400'] { width: 120px; }
  img[src='s.gif'][width='440'] { width: 132px; }
  img[src='s.gif'][width='480'] { width: 144px; }
  img[src='s.gif'][width='520'] { width: 156px; }
  img[src='s.gif'][width='560'] { width: 168px; }
  img[src='s.gif'][width='600'] { width: 180px; }
  img[src='s.gif'][width='640'] { width: 192px; }
  img[src='s.gif'][width='680'] { width: 204px; }
  img[src='s.gif'][width='720'] { width: 216px; }
  img[src='s.gif'][width='760'] { width: 228px; }
  img[src='s.gif'][width='800'] { width: 240px; }
  img[src='s.gif'][width='840'] { width: 252px; }
  .title { font-size: 11pt; line-height: 14pt;  }
  .subtext { font-size: 9pt; }
  .votearrow { transform: scale(1.3,1.3); margin-right: 6px; }
  .votearrow.rotate180 {
    -webkit-transform: rotate(180deg) scale(1.3,1.3);  /* Chrome and other webkit browsers */
    -moz-transform:    rotate(180deg) scale(1.3,1.3);  /* FF */
    -o-transform:      rotate(180deg) scale(1.3,1.3);  /* Opera */
    -ms-transform:     rotate(180deg) scale(1.3,1.3);  /* IE9 */
    transform:         rotate(180deg) scale(1.3,1.3);  /* W3C complaint browsers */
  }
  .votelinks { min-width: 14px; }
  .votelinks a { display: block; margin-bottom: 9px; }
  input[type='text'], input[type='number'], textarea { font-size: 16px; width: 90%; }
}

@media only screen and (min-width: 300px) and (max-width: 389px) {
  .comment { max-width: 270px; overflow: hidden }
}
@media only screen and (min-width: 390px) and (max-width: 509px) {
    .comment { max-width: 350px; overflow: hidden; padding-right: 10px; }
}
@media only screen and (min-width: 510px) and (max-width: 599px) {
  .comment { max-width: 460px; overflow: hidden }
}
@media only screen and (min-width: 600px) and (max-width: 689px) {
  .comment { max-width: 540px; overflow: hidden }
}
@media only screen and (min-width: 690px) and (max-width: 809px) {
  .comment { max-width: 620px; overflow: hidden }
}
@media only screen and (min-width: 810px) and (max-width: 899px) {
  .comment { max-width: 730px; overflow: hidden }
}
@media only screen and (min-width: 900px) and (max-width: 1079px) {
  .comment { max-width: 810px; overflow: hidden }
}
@media only screen and (min-width: 1080px) and (max-width: 1169px) {
  .comment { max-width: 970px; overflow: hidden }
}
@media only screen and (min-width: 1170px) and (max-width: 1259px) {
  .comment { max-width: 1050px; overflow: hidden }
}
@media only screen and (min-width: 1260px) and (max-width: 1349px) {
  .comment { max-width: 1130px; overflow: hidden }
}

